@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(/Users/mattseah/Documents/GitHub/Bloom_draft/client/public/images/plantbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
