@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(/Users/mattseah/Documents/GitHub/Bloom_draft/client/public/images/plantbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
